extends ./contexts.jade

mixin edit_form_field(name, Name, value)
	div
		label(for='#{name}') #{Name}
		input(type="text", name="#{name}", id="#{name}", value="#{value}")

//- PAGE
block contexts_page
	h1 Edit context
	form(action="/contexts/edit/"+context.id, method="POST", class="context edit")
		+edit_form_field("title", "Title", context.title)
		div
			input(type="submit", value="Submit")