extends ./skills.jade

//- mixin skill_form_field(type, name, Name)
	div
		label(for='#{name}') #{Name}
		input(type="#{type}", name="#{name}", id="#{name}")
//- mixin skill_table_edit()


mixin skill_table_cell(name, value, orientation)
	td
		input(type="text", name="#{name}", id="#{name}", value="#{value}")

mixin skill_table_action(name, action, method)
	td
		form(action="#{action}", method="#{method}")
			input(type="submit", value="#{name}")


block skill_page
	h1 Edit Skill
	+edit_form( model, keys, obj )(action="/skills/edit/#{obj.id}", method="POST")

	//- table
	//- 	thead
	//- 		tr= skill.id
	//- 	tbody
			//- tr= skill.title
			//- tr= skill.since
			//- tr= skill.experience
			//- tr= skill.outlook
			//- tr= skill.love
			//- tr= skill.darkColor
			//- tr= skill.color
			//- tr= skill.overall

//- form(action="/skills/new", method="POST", class="skill new")
	//- 	+skill_form_field("text", "title", "Title")
	//- 	+skill_form_field("text", "color", "Color")
	//- 	+skill_form_field("text", "overall", "Overall")
	//- 	+skill_form_field("text", "experience", "Experience")
	//- 	+skill_form_field("text", "outlook", "Outlook")
	//- 	+skill_form_field("text", "love", "Love")
	//- 	+skill_form_field("text", "since", "Since")
	//- 	div
	//- 		input(type="submit", value="Submit")


mixin skill_table_action(name, action, method)
	td
		form(action="#{action}", method="#{method}")
			input(type="submit", value="#{name}")

//- mixin skill_table_cell(name, value)
	td
		input(type="text", name="#{name}", id="#{name}", value="#{value}")


//- block skill_page
	p Edit Skills
	a(href="/skills/new") New Skill
	a(href="/skills/edit") Edit Skills
	form(action="/skills/edit", method="POST", class="skill edit")
	table
		thead
			tr
				th title
				th since
				th experience
				th outlook
				th love
				th darkColor
				th color
				th overall
				th(colspan="3") *Actions*
				
		tbody
			each s in skills
				tr
					+skill_table_cell("name", s.title)
					+skill_table_cell("since", s.since)
					+skill_table_cell("experience", s.experience)
					+skill_table_cell("outlook", s.outlook)
					+skill_table_cell("love", s.love)
					+skill_table_cell("darkColor", s.darkColor)
					+skill_table_cell("color", s.color)
					+skill_table_cell("overall", s.overall)
					+skill_table_action("Show", "/skills/"+s.id, "GET")
					+skill_table_action("Update", "/skills/edit/"+s.id, "POST")
					+skill_table_action("Destroy", "/skills/destroy/"+s.id, "POST")