//- Show Skill
//- version 0.7.0
extends ./skills.jade

//- block nav_skills
	li
		a(href="#{obj.localURL}")= obj.title

block skill_page

	include ../scripts/coloring.js.jade
	include ../scripts/timeline.js.jade

	.main-page

		section.admin
			.box
				h3 Admin
			.box
				.value= obj.id
				.label ID
			.box
				+action("Edit", "/skills/edit/"+obj.id, "GET")
				.label Edit Skill
			.box
				.value= obj.localURL
				.label localURL
			each c in subskills
				.box
					.value= c.title
					.label Subskill

		section.title
			header
				h2= obj.title
				.detail
					.label= obj.model_label
					if parentSkill
						+skill_tag(parentSkill)
			canvas#timeline(width="960px", height="400px")

		section.subtitle
			.since.box
				.value.large= obj.since
				.label since
			.type.box
				.value= obj.type
				.label type
			.outlook.box
				.value.large= obj.outlook
				.label outlook	
			.momentum.box
				.value.large= obj.momentum
				.label momentum

		section.description
			h3= obj.description

		section.projects
			h3 Projects
			each p,i in projects
				.label= p.project.title
				if i<10
					.value= "0"+(i+1)
				else
					.value= i+1
				//- v2.0
				//- .label Professional
				//- .value= p.experience.Professional
				//- .label Academic
				//- .value= p.experience.Academic
				//- .label Personal
				//- .value= p.experience.Personal

		section.experience
			h3 Confidence
				.value.large= obj.confidence
			h3 Experience
				.label Professional
				.value.large= experienceTotals.Professional
				.label Academic
				.value.large= experienceTotals.Academic
				.label Personal
				.value.large= experienceTotals.Personal

		//- v2.0
		//- section.events
			h3 Events
			each p in obj.events
				.label Event
				.value 23 Feb 15
