//- Show Skill
//- version 0.7.0
extends ./skills.jade

//- block nav_skills
	li
		a(href="#{obj.localURL}")= obj.title

block skill_page

	include ../scripts/coloring.js.jade
	include ../scripts/timeline.js.jade

	.main-page

		//- section.admin
			.box
				h3 Admin
			.box
				.value= obj.id
				.label ID
			.box
				+action("Edit", "/skills/edit/"+obj.id, "GET")
				.label Edit Skill
			.box
				.value= obj.localURL
				.label localURL
			each c in subskills
				.box
					.value= c.title
					.label Subskill

		section.title
			header
				h2= obj.title
				.detail
					.label= obj.model_label
					if parentSkill
						+skill_tag(parentSkill)
			canvas#timeline(width="960px", height="400px")

		section.description
			.value= obj.description

		section.subtitle
			.since.box
				.value= obj.since
				.label since
			.type.box
				.value= obj.type
				.label type
			.outlook.box
				.value.large= obj.outlook
				.label outlook	
			.momentum.box
				.value.large= obj.momentum
				.label momentum

		section.projects
			header.section
				h3 Projects
			+project_list(projects)

		section.experience
			header.section
				h3 Experience
			.row
				.value.large= obj.confidence
				.label Overall Confidence with #{obj.title}
			.row
				.box
					.value.large= experienceTotals.Professional
					.label Professional
				.box
					.value.large= experienceTotals.Academic
					.label Academic
				.box
					.value.large= experienceTotals.Personal
					.label Personal

		//- v2.0
		//- section.events
			h3 Events
			each p in obj.events
				.label Event
				.value 23 Feb 15
