//- Show Skill
//- version 0.5.0
extends ./skills.jade

block nav_skills
	li
		a(href="/skills/"+obj.id)= obj.title

block skill_page

	include ../scripts/coloring.js.jade
	include ../scripts/timeline.js.jade

	.main-page

		section.title
			header
				h2= obj.title
				+action("Edit", "/skills/edit/"+obj.id, "GET")
				.detail
					.label= obj.model_label
					if parentSkill
						+skill_tag(parentSkill)
			canvas#timeline(width="960px", height="400px")

		section.subtitle
			.since.box
				.value.large= obj.since
				.label since
			.outlook.box
				.value.large= obj.outlook
				.label outlook	
			.momentum.box
				.value.large= obj.momentum
				.label momentum

		section.projects
			h3 Projects
			each p,i in projects
				.label= p.project.title
				if i<10
					.value= "0"+(i+1)
				else
					.value= i+1
				.label Professional
				.value= p.experience.Professional
				.label Academic
				.value= p.experience.Academic
				.label Personal
				.value= p.experience.Personal

		section.experience
			h3 Experience
				.label Professional
				.value= experienceTotals.Professional
				.label Academic
				.value= experienceTotals.Academic
				.label Personal
				.value= experienceTotals.Personal

		//- section.events
			h3 Events
			each p in obj.events
				.label Event
				.value 23 Feb 15
