//- index
//- version 2.0.0

extends app

mixin project(proj)
	li.project
		.title
			h3= proj.title
				.subtitle= proj.type
			ul.skills
				each skill in proj.skills
					li.skill= skill
			p= proj.description
			if (proj.launchURL)
				a(href="#{proj.launchURL}") Launch
			if (proj.githubURL)
				a(href="#{proj.githubURL}") View on GitHub
		
		.preview
			.image
				img(src="#{proj.imageURL}" alt="#{proj.imageAlt}")

block title
	| Dillon Drenzek | Aspiring Developer, Perpetual Learner

block body

	//- Title
	header#site-title
		h1 Dillon Drenzek
			.subtitle Aspiring Developer, Perpetual Learner
		nav
			ul
				li: a(href="#author") About
				li: a(href="#projects") Work
				li: a(href="#skills") Skills
		
	#author
		.preview
			.image
				.horizontal-gradient
				img(src="images/profile.jpg" alt="Dillon Drenzek")
		.text
			.vertical-align
				h2 A Word from the Author
				p I design, code, and enjoy beautiful things. I recently graduated from the University of Colorado with a degree in Computer Science, but that doesn't mean I've stopped learning. In fact, that means I get to spend more time learning the things I do want to learn. I'm glad you're here - whatever brings you - and I hope you'll reach out and we can talk, work, or even play together. Cheers!
				ul#social-media.inline-children
					li: a(href="https://twitter.com/DrEnzek"): i.fa.fa-twitter
					li: a(href="https://instagram.com/dillondrenzek/"): i.fa.fa-instagram
					li: a(href="https://www.linkedin.com/in/dillondrenzek"): i.fa.fa-linkedin
					li: a(href="https://github.com/dillondrenzek"): i.fa.fa-github

	//- Skills
	if skills
		section#skills
			header
				h2 Things I Can Do
				p I have been exposed to countless numbers of technologies for developing websites, here are some of my favorites.

			.skills-container.margin-bottom
				h3 Web Development
				ul.skills
					each s in skills.web
						li.skill= s
			.skills-container.margin-bottom
				h3 UI/UX Design
				ul.skills
					each s in skills.design
						li.skill= s
			.skills-container
				h3 Newest Additions to My Skillset
				ul.skills
					each s in skills.learning
						li.skill= s

	//- Work
	if projects && projects.length > 0
		section#projects
			header
				h2 Things I've Made
				p I inject functionality, quality, and a lot of love into everything I do. So far, that has helped me do a number of really neat projects, here are a few recent examples.
			.full-width
				ul.projects
					each p in projects
						+project(p)







