//- ARGS: skills - array of skills, "mode" - index, new, edit, etc.

extends ./layout.jade

block stylesheet
	include ../public/stylesheets/skills.css

//- PAGE
block page
	case mode
		when "index"
			h1 Skills
			+skill_list(skills)
		when "new"
			h1 New Skill
			+skill_form("/skills/new", "post")


//- MIXINS

//- List Skills
mixin skill_list(skills)
	ul
		each skill in skills
			li 
				+skill_card(skill)

//- Skill Card
mixin skill_card(s)
	- var col = s.color;
	- var bg = "background: "+s.color+" !important;";
	- var text = "color: "+s.color+" !important;";
	.card
		+skill_destroy(s)
		.body
			.static
				.faux-stats.box
					.overall.box
						.value= s.overall
						.label(style="#{text}") overall
					.xp.box
						.value= s.experience
						.label experience
					.outlook.box
						.value= s.outlook
						.label outlook
					.rating.box
						.value #{s.love} stars
				.title.box(style="#{bg}")
					.value= s.title

//- Skill Destroy
mixin skill_destroy(s)
	form(action='/skills/#{s.id}', method='POST', onsubmit='return confirm("Are you sure?");')
		input(type='hidden', name='_method', value='DELETE')
		input(type='submit', value='X')

//- Skill Form Field	
mixin skill_form_field(type, name, Name)
	div
		label(for='#{name}') #{Name}
		input(type="#{type}", name="#{name}", id="#{name}")

//- Skill Form
mixin skill_form(action, method)
	form(action="#{action}", method="#{method}", class="skill new")
		+skill_form_field("text", "title", "Title")
		+skill_form_field("text", "color", "Color")
		+skill_form_field("text", "overall", "Overall")
		+skill_form_field("text", "experience", "Experience")
		+skill_form_field("text", "outlook", "Outlook")
		+skill_form_field("text", "love", "Love")
		+skill_form_field("text", "since", "Since")
		div
			input(type="submit", value="Submit")









//- FULL SKILL CARD



//- mixin skill_card(s)
//- 	- var col = s.color;
//- 	- var bg = "background: "+s.color+" !important;";
//- 	- var text = "color: "+s.color+" !important;";
//- 	.card
//- 		.body
//- 			.static
//- 				.overall.box
//- 					.value= s.overall
//- 					.label(style="#{text}") overall
//- 					//- .glass o
//- 				.faux-stats.box
//- 					.xp.box
//- 						.value= s.experience
//- 						.label experience
//- 					.outlook.box
//- 						.value= s.outlook
//- 						.label outlook
//- 				.rating.box
//- 					.value #{s.love} stars
//- 				.title.box(style="#{bg}")
//- 					.value= s.title
//- 			.toggle
//- 				.since.box(style="#{bg}")
//- 					.label since
//- 					.value= s.since
//- 				.see-all.box
//- 					.label See all <span class="value">#{s.projects.length}</span> projects
//- 				.timeline.box 
//- 					.label(style="color:#444;") Timeline <br>(Coming!... but not really that soon)
//- 				.projects.box
//- 					each project, index in s.projects
//- 						+project_mini(project, index+1, bg, text)





