//- The Work Of
//- Created: v2.4.0

extends app-v3.0.0

mixin Project()
	li.project 
		figure
			<img src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
		.title
			h3 Project Name

block title
	| The Work of | Dillon Drenzek


block page
	.page
		.page-header
			h2 , The Work of
		.page-body
			ul
				+Project()
				+Project()
				+Project()
				+Project()
				+Project()
		.page-footer
	//- .page
	//- 	h1 , The Work of
	//- .page

//- block header
	h2 The Work Of
	//- .subtitle Projects

//- block left
	//- p Aside

//- block right
	if projects.length > 0
		ul.projects
			each p in projects
				li.project
					.title
						h3= p.title
					if p.imageURLs
						figure
							each url in p.imageURLs
								img(src="#{url}" alt="#{p.title}")

					.detail
						
						if p.descriptors
							.descriptors
								span.brackets [
								span
									each des in p.descriptors
										|  #{des}, 
								span.brackets ]
						if p.points
							ul.points
								each point in p.points
									li.point
										| - 
										| #{point}