//- The Work Of
//- Created: v3.0.1

extends app

mixin Skill(title, value)
	li.skill
		.title= title
		.value= value

mixin Project(proj)
	li.project 
		figure
			each url in proj.imageURLs
				img(src="#{url}" alt="#{proj.title}")
		.title
			h3= proj.title
			.descriptors= proj.descriptors
			ul.points
				each p in proj.points
					li.point= p

block title
	| Dillon Drenzek, The Work of

block angularApp
	script(src="/js/angularApp.js")

block link
	link(rel="stylesheet" href="/css/the-work-of.css")

block head
	base(href="/the-work-of/")

block page
	div(ng-app="workApp")
		ui-view
		
		script(type="text/ng-template" id="/home.html")
			.page
				.left
					section.title
						//- +SocialMedia()
				.center
					section.title 
						h2 {{pageTitle}}

					section
						header
							h3 Forgive the mess!
						p.quote Thanks for visiting! I'm currently looking for a job and developing this website at the same time. Eventually ", The Work of" will be a comprehensive look at what I'm doing and what I've done. It will be built with Angular to resemble a dashboard so you - the employer, recruiter, friend - can get a good feel for what Dillon Drenzek is all about in a single glance! For now, enjoy what you can find, and drop me a note at dillon@drenzek.com!<br><br> Cheers,<br> Dillon
					
					//- section.featured
						header
							h3 Featured Project
							//- if featured.headerLink.active
								a(href="/projects") List Projects >
							//- if featured.slideIndicator.active
								.slide-indicator
									.arrow <
									.indicator 1/3
									.arrow >
						.project
							figure
								img(src="images/storm.jpg")
							.title
								.primary: a(href="http://drenzek-storm-feature.herokuapp.com/") Storm Rebranding Case Study
								.secondary Website, Branding
								.body A case study I did of the Graphic Design project I completed in Denmark during the Summer of 2015.
					
					//- section.currently
						header
							h3 Currently
						ul
							li.project
								figure
									img(src="images/profile.jpg")
								.title
									.primary dillon.drenzek.com
									.secondary Node.js, Angular.js
									.body The website you're currently visiting! I am constantly working to improve it, stay tuned!
							//- li.project
								figure
									img(src="images/always-wondering.jpg")
								.title
									.primary Cold For Now, Always Wondering
									.secondary Artwork
									.body Tweet-length description about this project, describing the main point of this project.
							//- li.project
								figure
									img(src="images/always-wondering.jpg")
								.title
									.primary Cold For Now, Always Wondering
									.secondary Artwork
									.body Tweet-length description about this project, describing the main point of this project.

					section.currently
						header
							h3 Past Work
						ul
							li.project(ng-repeat="project in projects.all")
								figure
									img(ng-repeat="url in project.imageURLs" ng-src="{{url}}")
								.title
									.primary {{project.title}}
									.secondary(ng-repeat="descriptor in project.descriptors") {{descriptor}}
									.body {{project.description}}
									ul(ng-show="project.launchURL || project.githubURL")
										li: a(ng-show="project.launchURL" ng-href="{{project.launchURL}}") Launch
										li: a(ng-show="project.githubURL" ng-href="{{project.githubURL}}") GitHub

					//- section.currently
						header
							h3 Past Work (Static)
						ul
							li.project
								figure
									img(src="/images/capstone-portfolio-1.jpg")
									img(src="/images/capstone-portfolio-2.jpg")
									img(src="/images/capstone-portfolio-3.jpg")
									img(src="/images/capstone-portfolio-4.jpg")
								.title
									.primary Capstone Portfolio Website
									.secondary Website, Node.js, Neo4j
									.body A major project in my Capstone class during the Spring of 2015. I went above and beyond the requirements by using Node and the graph database, Neo4j. This is the first version of the site you're on :)
									ul
										li: a(href="http://drenzek-capstone-portfolio.herokuapp.com") Launch
										li: a(href="https://github.com/dillondrenzek/drenzek-capstone-portfolio") On GitHub
							

							li.project
								figure
									img(src="/images/le-faux-1.png")
									img(src="/images/le-faux-2.jpg")
								.title
									.primary Le Faux Désign Compagnie
									.secondary Branding, Website
									.body I created a fake design company. The project was part of an advanced web design class I took in the Fall of 2014 at the University of Colorado.
									//- ul
										li: a(href="http://drenzek-capstone-portfolio.herokuapp.com") Launch
										li: a(href="https://github.com/dillondrenzek/drenzek-capstone-portfolio") On GitHub

							li.project
								figure
									img(src="/images/always-wondering.jpg")
								.title
									.primary Cold For Now, Always Wondering
									.secondary Artwork
									.body On a frigid November night in Bozeman, Montana, I stood with my camera on a tripod aimed towards the heavens. With hot chocolate in hand, I pondered life's biggest questions. This piece was featured in the University of Colorado's 2015 Honors Journal.
									

							li.project
								figure
									img(src="/images/gridrunner.png")
								.title
									.primary Gridrunner
									.secondary Game, Website
									.body A game a friend and I made for our Digital Media 2 class. My first brush with Object-Oriented JavaScript, and so my obsession began... 
									ul
										//- li: a(href="http://drenzek-capstone-portfolio.herokuapp.com") Launch
										li: a(href="https://github.com/dillondrenzek/gridrunner/tree/master/dm2-teamproject") On GitHub

							li.project
								figure
									img(src="/images/capstone-portal.png")
								.title
									.primary Capstone Project Portal
									.secondary Node.js
									.body A website for turning in assignments for my Capstone class in Spring 2015. I built an admin space into it to update the website throughout the year. Also where I fell in love with Node.js after porting the site from the Ruby DSL, Sinatra.
									ul
										li: a(href="http://capstone.drenzek.com") Launch
										li: a(href="https://github.com/dillondrenzek/drenzek-capstone") On GitHub


							li.project
								figure
									img(src="/images/drenzek-does-denmark.png")
								.title
									.primary Drenzek Does Denmark
									.secondary Angular.js
									.body A simple blog I created while I was in Denmark to practice using Angular.
									ul
										li: a(href="http://denmark.drenzek.com") Launch
										li: a(href="https://github.com/dillondrenzek/drenzek-does-denmark") On GitHub



				.right
					section.title
						//- a(href="/cv") Curriculum Vitae >
						a(href="/resume") Resume >
					


					section.top-skills
						header
							h3 Top Skills
						.category
							h4 Web Development
							ul.skills
								li.skill(ng-repeat="skill in skills.web")
									.title {{skill}}
						.category
							h4 UI Design
							ul.skills
								li.skill(ng-repeat="skill in skills.ui")
									.title {{skill}}
						.category
							h4 Programming
							ul.skills
								li.skill(ng-repeat="skill in skills.programming")
									.title {{skill}}



					section.recent-skills
						header
							h3 Recently Improved
						ul.skills
							li.skill(ng-repeat="skill in skills.improved")
								.title {{skill.title}}
								.value {{skill.value}}



					section.recent-skills
						header
							h3 Resume Skills
						ul.skills
							li.skill(ng-repeat="skill in skills.all")
								.title {{skill}}




