//- The Work Of
//- Created: v2.4.0

extends app-v2.4.0

block title
	| The Work of | Dillon Drenzek

block link
	link(rel="stylesheet" href="/stylesheets/style-v2.4.0.css")

block page
	.page
		h1 , The Work of
	//- .page

//- block header
	h2 The Work Of
	//- .subtitle Projects

//- block left
	//- p Aside

//- block right
	if projects.length > 0
		ul.projects
			each p in projects
				li.project
					.title
						h3= p.title
					if p.imageURLs
						figure
							each url in p.imageURLs
								img(src="#{url}" alt="#{p.title}")

					.detail
						
						if p.descriptors
							.descriptors
								span.brackets [
								span
									each des in p.descriptors
										|  #{des}, 
								span.brackets ]
						if p.points
							ul.points
								each point in p.points
									li.point
										| - 
										| #{point}