extends ./times.jade

mixin edit_form_field(name, Name, value)
	div
		label(for='#{name}') #{Name}
		input(type="text", name="#{name}", id="#{name}", value="#{value}")

//- PAGE
block times_page
	h1 Edit time
	form(action="/times/edit/"+time.id, method="POST", class="time edit")
		+edit_form_field("title", "Title", time.title)
		div
			input(type="submit", value="Submit")