extends ./projects.jade

mixin edit_form_field(name, Name, value)
	div
		label(for='#{name}') #{Name}
		input(type="text", name="#{name}", id="#{name}", value="#{value}")

//- PAGE
block projects_page
	h1 Edit project
	form(action="/projects/edit/"+project.id, method="POST", class="project edit")
		+edit_form_field("title", "Title", project.title)
		div
			input(type="submit", value="Submit")