//- Show Project
//- version 1.0.0
extends ./projects.jade

//- block nav_skills
	li
		a(href="#{obj.localURL}")= obj.title

block projects_page
	- var admin = false;

	//- include ../scripts/coloring.js.jade

	.main-page
		if admin
			section.admin
				.box
					h3 Admin
				.box
					.value= obj.id
					.label ID
				.box
					.value= obj.color
					.label color
				.box
					.value= obj.imageURL
					.label image
				.box
					+action("Edit", "/projects/edit/"+obj.id, "GET")
					.label Edit Project			
				.box
					.value= obj.localURL
					.label localURL

		section.title(style="background: url('#{obj.imageURL}') no-repeat fixed top;")
			header
				h2= obj.title
				.detail
					.label= obj.model_label

		section.subtitle
			.date.box
				.value= obj.date
				.label date
			.type.box
				.value= obj.type
				.label project type

			if obj.externalURL
				.external.box(onclick="location.href='';")
					.value 
						a(href="#{obj.externalURL}") Visit
					.label External URL
			if obj.githubURL
				.external.box(onclick="location.href='#{obj.githubURL}';")
					.value 
						a(href="#{obj.githubURL}") Visit
					.label GitHub Repo


		section.description
			header.section
				h3 Description
			p= obj.description

		section.skills
			header.section
				h3 Skills
			+skill_list( exhibitedSkills )
